/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #141414;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23.4375rem;
  width: 24rem;
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 2.5rem;
}

.card__image {
  width: 88px;
  height: 88px;
  border-radius: 100%;
  margin-bottom: 1.5rem;
}

.card__title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.card__location {
  font-size: 0.875rem;
  font-weight: 700;
  color: #c4f82a;
}

.card__bio {
  font-size: 0.875rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.card__header {
  margin-bottom: 1.5rem;
}

.card__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  list-style: none;
}

.card__links-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 0.75rem;
  border-radius: 8px;
}

.card__links-link:hover {
  background-color: #c4f82a;
}

.card__links-link a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
}

.card__links-link:hover a {
  color: #333;
}
